  </div>
  {{! /wrap}}

  <!-- footer -->
  <footer class="footer">
    <div class="container">
      <p class="credit">Developed by @ww24</p>
    </div>
  </footer>

  {{> modal}}

  <script src="/js/jquery-1.10.1.min.js"></script>
  <script src="/js/jquery.pjax.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <script>var csrf_token = "{{csrf_token}}";</script>
  <script src="/js/ui.js"></script>

  <!-- social button -->
<!--
  <!- - facebook - ->
  <div id="fb-root"></div>
  <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1&appId=231969970171510";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  <!- - Hatena - ->
  <script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
  <!- - Google - ->
  <script type="text/javascript">
    window.___gcfg = {lang: 'ja'};
    (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
  </script>
  <!- - Twitter - ->
  <script>
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
  </script>
-->
</body>
</html>