<!DOCTYPE html>
<html lang="ja">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/sticky-footer-navbar.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>{{title}}つぶやき Call</title>
</head>
<body>
  {{! wrap}}
  <div class="wrap">
    <!-- Fixed navbar -->
    <header class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        {{> menu}}
      </div>
    </header>
