<!-- menu -->
<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="/">つぶやき Call</a>
</div>
<div class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
    <li class="{{#menu}}about{{/menu}}">
      <a href="/about">About</a>
    </li>
  </ul>
  {{#isLoggedIn}}
  <ul class="nav navbar-nav navbar-right">
    <li class="{{#menu}}dashboard{{/menu}}">
      <a href="/dashboard">
        <span class="glyphicon glyphicon-home"></span> Dashboard
      </a>
    </li>
    <li class="{{#menu}}add{{/menu}}">
      <a data-toggle="modal" href="#add-phone-modal">
        <span class="glyphicon glyphicon-plus"></span> Add Number
      </a>
    </li>
    <li class="{{#menu}}logout{{/menu}}">
      <a href="/logout">
        <span class="glyphicon glyphicon-off"></span>
        Logout
      </a>
    </li>
  </ul>
  {{/isLoggedIn}}
</div>
