{{> header}}

  <!-- content -->
  <div class="container">
    <section class="jumbotron">
      <div class="container">
        <h1>つぶやき Call</h1>
        <p class="lead">Twitter から電話をかけよう！</p>
        <div id="using-guide" class="using-guide">
          <h2>tweet が通話に</h2>
          <p>
            お好きな Twitter クライアントを起動して、 tweet するだけ。<br>
            相手に電話でメッセージを伝えます。
          </p>
          <h2>どんな場所でも</h2>
          <p>
            通話のできない電車の中でも、 tweet するだけで電話をかけられます。<br>
          </p>
          <h2>Sign in with Twitter に対応</h2>
          <p>
            新しくアカウントを作成する必要はありません。<br>
            Twitter アカウントでサインインできます。
          </p>
          <a href="/auth">
            <img class="sign-in-with-twitter" src="/img/sign-in-with-twitter.png">
          </a>
        </div>
        <button type="button" id="use-button" class="btn btn-primary btn-lg">&gt;&gt; 使う。</button>
      </div>
    </section>
  </div>

{{> footer}}